.stackContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.carousel {
  overflow: hidden;
  display: flex;
  flex: 0 0 100%;
  &:hover .stack {
    animation-play-state: paused;
  }
}

.stack {
  display: flex;
  gap: 3rem;
  will-change: transform;
  animation: scrolling 40s linear infinite;
  padding-right: 3rem; /* Padding-right to have gap between last and first card */
}

.tooltip {
  z-index: 1000;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.techCard {
  width: 16rem;
  height: 20rem;
  flex-shrink: 0;
  background-color: #27272a;
  border-radius: var(--border-radius);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.bgBlurAnimate {
  filter: blur(45px) saturate() contrast(2);
  opacity: 0.4;
  transform-origin: 65% 75%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: opacity 0.8s ease-in-out;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.8) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) scale(1.8) rotate(360deg);
  }
}

/* Stack Card Header */
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.linkToDocs {
  z-index: 100;
}

.rating {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  z-index: 100;
}

/* Stack Card Footer */
.footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 5rem;
  justify-content: center;
  text-align: start;
}

.footerDescription {
  font-size: var(--p-md-font-size);
}
