.container {
  display: flex;
  align-items: center;
  width: 8rem;
  height: 4rem;
  background-color: gray;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
}

.dot {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  height: 100%;
  width: 50%;
  transition: transform 0.3s ease;
}

.placeEnd {
  transform: translateX(100%);
}
