.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-height: 70%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.switch {
  position: absolute;
  top: 4rem;
}

.showMoreButton {
  background-color: gray;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  display: inline-flex;
}

.showMoreButton:hover {
  opacity: 0.8;
}

.showMoreButton:active {
  transform: scale(1.1);
}
